*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

/***        MAIN CONTENT        ***/

#jumbotrone{
    padding: 0;
    height: 500px;
}

#jumbo-gif{
    background-image: url("../img/Design-sans-titre-_6.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

#jumbo-content{
    opacity: 85%;
}

#jumbo-text{
    color: gainsboro;
    font-size: 60px;
    overflow: hidden;
}

#jumbo-button{
    color: gainsboro;
    font-size: 40px;
}

#jumbo-button:hover{
    transform: translateX(4px);
    transition: .2;
    background-color: gainsboro;
    color: black;
}

#jumbo-button:active{
    border: 0;
}

#jumbo-button:hover span{
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: .1;
}

#prom-text{
    font-size: 25px;
    margin-top: 15px;
    font-style: italic;
    opacity: 40%;
}

.icons{
    width: 120px;
    height: auto;
    opacity: 40%;
    margin: 5px 15px;
}

.benefits-icons{
    width: 120px;
    height: auto;
    margin: 15px 80px 15px 80px;
}

.benefits-icons:hover{
    transform: translateY(-8px);
    transition: .2s;
}

.benefits-icons:not(hover){
    transform: translateY(1px);
    transition: .2s;
}

.benefits-icon-container div{
    font-weight: bold;
}


/***        END OF MAIN CONTENT     ***/

@media (max-width: 900px){
    #jumbo-gif{
        background-image: url("../img/Design-sans-titre-_11.gif");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100%;
    }


    #jumbo-button{
        background-color: gainsboro;
        color: black;
    }

    #jumbotrone{
        height: 700px;
    }

    #main-content{
        margin-bottom: 50px;
    }
}