*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 /***       HEADER      ***/

#menu-button{
    border: 0px;
    padding-left: 10px;
}

#header-to-store{
    margin-right: 10px;

}

#header-to-store:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}

#header-to-store-style{
    color: black;
    text-decoration: none;
}

/***        END OF HEADER       ***/

/***        MAIN CONTENT        ***/

#main-content{
    margin-top: 20px;
}

#jumbotrone{
    overflow: hidden;
    padding: 0;
    height: 500px;
}

#jumbo-gif{
    background-image: url("../img/Design-sans-titre-_6.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

#jumbo-text{
    color: gainsboro;
    font-size: 60px;
}

#jumbo-button{
    color: gainsboro;
    font-size: 40px;
}

#jumbo-button:hover{
    background: gainsboro;
    color: black;
}

.icon-container{
    margin: 0 8%;
}

.icons{
    width: 120px;
    height: auto;
    opacity: 30%;
}

.benefits-icons{
    width: 120px;
    height: auto;
}

#adv-text{
    font-size: 25px;
    margin-top: 15px;
}


#fill-gif-wrapper{
    margin-top: 50px;
}

#fill-gif{
    width: 640px;
    height: 640px;
}

.icons{
    width: 120px;
    height: auto;
    opacity: 40%;
}

/***        END OF MAIN CONTENT     ***/

#footer-gif-wrapper{
    height: 300px;
    background-image: url("../img/ezgif.com-optimize_1.webp");
    padding-bottom: 100px;
    margin-top: 100px;
    background-size: cover;
    background-position: center center;
    padding-left: 667px;
}
