*{
    box-sizing: border-box;
}

#menu-button{
    border: 0px;
    padding-left: 10px;
}

#header-to-store{
    margin-right: 10px;

}

#header-to-store:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}

#header-to-store-style{
    color: black;
    text-decoration: none;
}

#jumbotrone{
    margin-top: 20px;
}

.jumbo-text span{
    vertical-align: middle;
}

#jumbo-text{
    color: gainsboro;
    font-size: 60px;
}

#jumbo-gif{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 700px;
}

#jumbo-button{
    color: gainsboro;
    font-size: 50px;
}

#jumbo-button:hover{
    background: gainsboro;
    color: black;
}

#space-fill-gif{
    margin-top: 600px;
    width: 100%;
    text-align: center;
}

#footer-fill-gif{
    overflow: hidden;
    height: 400px;
    margin-top: 200px;
}

#footer-gif{
    width: 100%; 
    margin-bottom: 500px;
}
