*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

 /***       HEADER      ***/

#menu-button{
    border: 0px;
    padding-left: 10px;
}

#header-to-store{
    margin-right: 10px;

}

#header-to-store:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}

#header-to-store-style{
    color: black;
    text-decoration: none;
}

/***        END OF HEADER       ***/

/***        MAIN CONTENT        ***/

#main-content{
    margin-top: 20px;
}

#jumbotrone{
    overflow: hidden;
    padding: 0;
    height: 500px;
}

#jumbo-gif{
    background-image: url("../img/Design-sans-titre-_6.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

#jumbo-content{
    opacity: 85%;
}

#jumbo-text{
    color: gainsboro;
    font-size: 60px;
}

#jumbo-button{
    color: gainsboro;
    font-size: 40px;
}

#jumbo-button:hover{
    background: gainsboro;
    color: black;
}



.icons{
    width: 120px;
    height: auto;
    opacity: 40%;
    margin: 5px 15px;
}

.benefits-icons{
    width: 120px;
    height: auto;
    margin: 15px 80px 15px 80px;
}

.benefits-icons:hover{
    transform: translateY(-8px);
    transition: .2s;
}

.benefits-icons:not(hover){
    transform: translateY(1px);
    transition: .2s;
}

#prom-text{
    font-size: 25px;
    margin-top: 15px;
    font-style: italic;
    opacity: 40%;
}


#fill-gif-wrapper{
    margin-top: 50px;
}

#fill-gif{
    width: 30vw;
    height: 30vw;
}

/***        END OF MAIN CONTENT     ***/

#footer-gif-wrapper{
    height: 300px;
    background-image: url("../img/ezgif.com-optimize_1.webp");
    padding-bottom: 100px;
    margin-top: 100px;
    background-size: cover;
    background-position: center center;
    padding-left: 667px;
}

@media (max-width: 900px){
    #jumbo-gif{
        background-size: 200%;
        background-position: center center;
    }

    #footer-gif-wrapper{
        height: 20vh;
    }
}